extends layout

block layout-content
  h1(class="title") Crystal Index
  form(action="/api/search" method="post")
    input(class="input" type="text", name="query" placeholder="amethyst")
    input(class="button is-primary" type="submit" value="Search")
  
  div(id="crystals")
    ul
      each crystal in Object.keys(crystals)
        li
          a(href=`/web/${crystal}`)= crystal